@import "variables.less";

html {
    font-size: @font-size;
}
body, div, a {
    padding:0;
    margin:0;
    font-family:@font-primary;
}

#calculator {
	background-color: #999;
	width: 310px;
	height: 460px;
	border: 3px black solid;
	margin: 10px auto;
	padding: 5px;
	border-radius: 10px;
}

#total {
    height: 70px;
    width: 300px;
    margin:auto;
    background-color:white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 60px;
    padding: 0 5px;
}

#numbers, #operators {
	margin: auto;	
}

#operators a {
	display: block;
	width: 45px;
	height: 45px;
	float: left;
	text-decoration: none;
	color: @btn-color;
	text-align: center;
	font-size: 39px;
	padding: 2px;
	margin: 5px 6px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 10px;
    cursor: pointer;
}

#numbers a {
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	text-decoration: none;
	color: @btn-color;
	text-align: center;
	font-size: 43px;
	padding: 10px;
	margin: 5px 15px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
	border-radius: 10px;
    
    cursor: pointer;
}